.sec-hero{
    height: 85vh;
    background-image: url(./assets/img/Background\ img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.div-nav-bar{
    width: 100%;
}

.nav-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.div-nav-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-nav-span{
    display: none;
    width: 30px;
    height: 30px;
}

.hr-nav-bar{
    position:absolute;
    border: 1px solid var(--dark-spring-green);
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.div-nav-link{
    margin: 0 100px;
}

.div-nav-link > a:hover{
    color: var(--vert);
}

.div-nav-link a:last-child{
    margin: 0 30px;
}

.div-nav-right button:first-child{
    margin: 30px;
}

.btn-compte{
    padding: 15px;
    border-radius: 5px;
    background-color: var(--vert);
    color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0);
}
.btn-compte:hover{
    background-color: rgba(0, 0, 0, 0);
    color: var(--vert);
    border: 1px solid var(--vert);
}

.btn-connexion{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--vert);
    background-color: #FAFAFA;
}
.btn-connexion:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--dark-spring-green);
    color: #FAFAFA;
}


.div-title-hero{
    text-align: center;
}

.title-adopte-dev{
    font-size: 9.8rem;
}

.div-scroll-hero{
    margin-bottom: 30px !important;
}

/*  ABOUT */

.sec-about{
    margin-top: 75px !important;
    padding: 10px;
}

.div-about-para{
    margin-top: 50px !important;
}

.div-about-btn{
    margin: 50px auto;
    text-align: center;
}

/* PAGE PROFIL */

.div-resch{
    margin: 75px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.div-resch > input{
    border-radius: 5px;
    padding: 5px;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

.div-resch > button{
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    background-color: var(--vert);
    color: #FAFAFA;
    border: none;
}

.div-container-h2{
    padding: 15px;
}

.div-container-profil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.card{
    outline: 2px solid var(--vert);
    width: 300px;
    height: 500px;
    border-radius: 5px;
    margin: 30px;
    position: relative;
    background-color: rgba(217, 217, 217, 0.6);
    box-shadow: 10px 13px 15px -6px rgba(141, 141, 141,0.8);

}
.card:hover{
    transform: scale(1.01);
    animation: ease-in-out 3s;
    cursor: pointer;
    box-shadow: 10px 13px 15px -6px rgba(0, 0, 0, 1);
    
}

.div-img-card{
    position: relative;
}
.div-img-card > div{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.card-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.div-container-title-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.div-container-langage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.div-container-langage p{
    margin: 10px;
    background-color: var(--bleu-clair);
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.div-tjm{
    position: absolute;
    bottom: -2px;
    left: -2px;
    border: 2px solid var(--vert);
    border-radius: 5px;
}

.div-tjm > p{
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .div-nav-link{
        display: none;
    }
    .div-nav-right{
        display: none;
    }
    .div-nav-span{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
    }
    .div-resch > button{
        margin-top: 20px;
    }
}

/* MENUBURGER */


#span1, #span2, #span3{
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #000;
}

